.Counter {
	width: 10rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	color: white;
	font-size: 3rem;
	border-radius: 100%;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.5s;
}
